@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: $default-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: $big-font-size;
  font-weight: bold;
  text-align: left;

  @include respond(phone) {
    font-size: 2.8rem;
  }
}

.blue-text {
  color: $blue-color !important;
}

.red-text {
  color: $red-color !important;
}

.green-text {
  color: $green-color !important;
}

.yellow-text {
  color: $yellow-color !important;
}

.super-white-text {
  color: $super-white-color !important;
}

.white-text {
  color: $white-color !important;
}

.black-text {
  color: $black-text !important;
}

.light-black-text {
  color: $light-black !important;
}

.grey-text {
  color: $dark-grey !important;
}

.light-grey-text {
  color: $light-grey !important;
}

.bold-text {
  font-weight: 700;
}
