// COLORS
$primary-color: #f9d978; // #02aab0;
$secondary-color: #fae8b3; // #00cdac;

$light-black: #272341; // For Headings #272727;
$black-text: #000000; // For Headings

$white-color: #f9f9f9;
$super-white-color: #ffffff;

$dark-grey: #555555; // #333333;
$light-grey: #b2b2b2;

$red-color: #b77b7b;
$blue-color: #9bc8e3;
$yellow-color: #f9d978;
$green-color: #b0c4a1;
$red-color-secondary: #e1c1c1;
$blue-color-secondary: #d7ecf9;
$yellow-color-secondary: #fcf0c3;
$green-color-secondary: #c4d4b8;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
